:root{
    --project-box-height: 300px;
}
#portfolio-page{
    min-height: 100vh;
    min-height: 100svh;

}

#portfolio-page .portfolio-container{
    padding: 24px;
    margin: 60px auto;
}

.project-box{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    margin-top: 100px;
}

.project-left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-left .project-image,
.project-left .dummy-div{
    position: absolute;
    width: 500px;
    height: 281px;
}

.project-left .dummy-div{
    background-color: var(--color-neon);
    transform: translate(-10px,-10px);
}

.project-left .project-image{
    border: 1px solid var(--color-neon);
    box-shadow: -9px -8px 10px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -9px -8px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px -8px 10px -1px rgba(0, 0, 0, 0.75);
}

.project-right{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.project-right .project-title{
    color: var(--color-dark);
    font-size: 1.8rem;
}

.project-right .project-type{
    color: var(--color-medium);
    font-size: 1.2rem;
    font-weight: 600;
}

.project-right .project-description{
    margin-top: 8px;
    text-align: justify;
}

.project-button-area{
    display: flex;
    gap: 42px;
    margin-top: 24px;
}

.project-right a{
    text-decoration: none;
    color: var(--color-light);
    width: 200px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.project-right .project-preview-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.project-preview-button .button-logo{
    background-image: url("../assets/icons/external-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}

.project-preview{
    background-color: var(--header-color);
}

.project-source{
    background-color: var(--color-dark);
}

.project-right a:hover{
    background-color: var(--color-neon);
    transform: perspective(500px) translateZ(30px);
}

.project-box:nth-child(even) .project-left{
    grid-area: 1/2/1/2;
}

@media (max-width: 1300px) {
    .project-box{
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-dark);
        padding: 18px;
    }

    .project-box .project-left{
        min-height: 300px;
    }

    .project-box .project-right{
        flex: 1;
    }

    .project-right>*{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 630px) {
    .project-box{
        padding: 8px;
    }
    .project-left .project-image{
        width: 200px;
        height: 112px;
    }
    .project-left .dummy-div{
        display: none;
    }

    .project-box .project-left {
    min-height: 150px;
    }

    .project-right .project-title {
        font-size: 1.4rem;
    }
    
    .project-right .project-type {
        font-size: 0.8rem;
    }

    .project-right .project-description {
        font-size: 0.6rem;
    }

    #portfolio-page .portfolio-container {
        padding-top: 0;
        margin-top: 0;
    }

    .project-button-area {
        flex-direction: column;
        font-size: 0.6rem;
        margin-top: 8px;
        gap: 12px;
    }

    .project-right{
        padding: 0px;
    }

    .project-right a {
        width: 120px;
        padding: 6px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        transition: all 0.3s ease;
    }

    .project-right .project-preview-button {
        display: flex;
        justify-content: center;
        gap: 8px;
    }


    .project-preview-button .button-logo {
            width: 10px;
            height: 10px;
    }
}